importFrom("gsl", ellint_F, ellint_E, ellint_P)
importFrom("graphics", "axis", "image")
importFrom("utils", "data")
export(Insol)
export(Insol_l1l2)
export(Insol_d1d2)
export(Milankovitch)
S3method(plot,Milankovitch)
export(astro)
export(calins)
export(day2l)
export(thrins)
export(ber78)
export(ber90)
export(la04)
export(date_of_perihelion)
export(l2day)

