importFrom("graphics", "axis", "image")
importFrom("utils", "data","read.table")
export(.onAttach)
export(Insol)
export(Insol_l1l2)
export(Insol_d1d2)
export(Milankovitch)
export(AnnualMean)
S3method(plot,Milankovitch)
S3method(plot,AnnualMean)
export(astro)
export(calins)
export(day2l)
export(thrins)
export(ber78)
export(ber90)
export(la04)
export(date_of_perihelion)
export(l2day)
export(precession)
export(obliquity)
export(coprecession)
export(polar_night)
